attrs==22.1.0
bandit==1.7.4
coverage==7.0.0
exceptiongroup==1.0.4
flake8==6.0.0
flake8-docstrings==1.6.0
gitchangelog==3.0.4
gitdb==4.0.10
iniconfig==1.1.1
jmespath==1.0.1
Mako==1.2.4
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==22.0
parse==1.19.0
parse-type==0.6.0
pathspec==0.10.3
pbr==5.11.0
pluggy==1.0.0
pycodestyle==2.10.0
pydocstyle==6.1.1
pyflakes==3.0.1
pystache==0.6.0
pytest==7.2.0
pytest-bdd==6.1.1
pytest-cov==4.0.0
pytest-testinfra==6.8.0
PyYAML==6.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
stevedore==4.1.1
testinfra-bdd==2.2.3
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.13
yamllint==1.28.0
